mqtt:
  url: ${MQTT_URL:-localhost}
  port: ${MQTT_PORT:-1883}
  username: ${MQTT_USERNAME:-admin}
  password: ${MQTT_PASSWORD:-secret}
  clientId: ${MQTT_CLIENT_ID:-client-id}
time_series:
  url: ${INFLUXDB_URL:-localhost}
  username: ${INFLUXDB_USERNAME:-user}
  password: ${INFLUXDB_PASSWORD:-password}
  bucket_name: ${INFLUXDB_BUCKET_NAME:-power-consumptions}
things:
  - name: ${THING_NAME:-washing_machine}
    type: ${THING_TYPE:-washing_machine}
    sources:
      - topic: ${MQTT_INPUT_CONSUMPTION:-measurements/thing/power}
        type: consumption
      - topic: ${MQTT_INPUT_LOADING:-things/washing_machine/load}
        type: loading
      - topic: ${MQTT_INPUT_UNLOADING:-things/washing_machine/unload}
        type: unloading
    destinations:
      scheduled_updates:
        - topic: ${MQTT_UPDATE_TOPIC:-things/washing_machine/state}
          # use cron expression to schedule the notification. seconds are supported as well.
          cron: "* * * * * */20"
