<div class="card appliance {{ appliance.entity_type }}">
    <div class="card-header">
        <h4 class="card-title mb-0 d-flex flex-nowrap">
            {%- with type=appliance.entity_type %}
                <div class="me-2">
                    {%- include "snippets/appliance_icon.html" %}
                </div>
            {%- endwith %}
            <a class="name me-1 overflow-hidden text-truncate" id="appliance-{{ appliance.name|replace(' ', '-') }}"
               href="{{ url_for('appliance', name=appliance.name) }}"
               data-bs-title="{{ appliance.name }}" data-bs-toggle="tooltip">{{ appliance.name }}</a>
            {%- with online_status=appliance.online_status(),time_delta=appliance.last_seen_time_delta() %}
                <div class="ms-auto">{%- include "snippets/online_status_icon.html" %}</div>
            {%- endwith %}
        </h4>
    </div>
    <div class="row g-1">
        <div class="col-4">
            <div class="w-100 position-relative" style="aspect-ratio: 1">
                <div class="power-consumption diagram position-absolute top-0 start-0 w-100 h-100 z-2"
                     data-entity-name="{{ appliance.name }}" data-fullscreen="true"
                     data-x-axis-label="{{ _('Watt') }}"></div>
                <div class="position-absolute top-0 start-0 w-100 h-100 z-1 fs-4">
                    {%- with name=appliance.name, power_consumption=appliance.watt %}
                        {%- include "snippets/power_consumption.html" %}
                    {%- endwith %}
                </div>
            </div>
        </div>
        <div class="col-4">
            {%- if appliance.running_state=='running' %}
                {%- set text=_('Running') %}
                {%- set color='warning' %}
                {% if appliance.entity_type=='dishwasher' %}
                    {%- set icon='img/flaticon/clean-dishes.gif' %}
                {% elif appliance.entity_type=='dryer' %}
                    {%- set icon='img/flaticon/laundry.gif' %}
                {% elif appliance.entity_type=='washing_machine' %}
                    {%- set icon='img/flaticon/laundry.gif' %}
                {% else %}
                    {%- set icon='img/flaticon/home-appliance.gif' %}
                {% endif %}
            {%- elif appliance.needs_unloading %}
                {%- set text=_('Loaded') %}
                {%- set color='danger' %}
                {% if appliance.entity_type=='dishwasher' %}
                    {%- set icon='img/flaticon/dinnerware.gif' %}
                {% elif appliance.entity_type=='dryer' %}
                    {%- set icon='img/flaticon/smart-washing-machine.gif' %}
                {% elif appliance.entity_type=='washing_machine' %}
                    {%- set icon='img/flaticon/smart-washing-machine.gif' %}
                {% else %}
                    {%- set icon='img/flaticon/smart-washing-machine.gif' %}
                {% endif %}
            {%- else %}
                {%- set text=_('Idling') %}
                {%- set color='success' %}
            {%- endif %}
            <div class="running-state w-100 text-bg-{{ color }} bg-{{ color }} align-content-center text-center fs-4"
                 style="aspect-ratio: 1" role="status"
                 data-started-run-at="{{ appliance.started_run_at|datetimeformat("yyyy-MM-dd'T'HH:mm:ss") if appliance.started_run_at else '' }}">
                {%- if appliance.running_state=='running' %}
                    <div class="visually-hidden">{{ text }}</div>
                    <img class="icon" src="{{ url_for('static', filename=icon) }}"
                         alt="{{ _('Running since %(xMinutes)s', xMinutes=appliance.running_for_time_period()|timedeltaformat()) }}"/>
                {%- elif appliance.needs_unloading %}
                    <img class="icon" src="{{ url_for('static', filename=icon) }}"
                         alt="{{ _('Finished last run %(xMinutesAgo)s', xMinutesAgo=appliance.finished_last_run_before_time_period()|timedeltaformat(add_direction=True)) }}"/>
                    <div>{{ text }}</div>
                {%- else %}
                    {{ text }}
                {%- endif %}
            </div>
        </div>
        {%- if appliance.needs_unloading %}
            <div class="col-4 d-flex flex-column align-items-center justify-content-center">
                <form class="w-75" style="aspect-ratio: 1" method="get"
                      action="#" data-api-url="{{ url_for('appliance-depot_api.unload', name=appliance.name ) }}">
                    <button class="unload btn btn-outline-success p-0 w-100 h-100" disabled="disabled"
                            type="submit" value="{{ _('Unload') }}">{{ _('Unload') }}</button>
                </form>
            </div>
        {%- elif appliance.running_state!='running' %}
            <div class="col-4 d-flex flex-column align-items-center justify-content-center">
                <form class="w-75" style="aspect-ratio: 1" method="get"
                      action="#" data-api-url="{{ url_for('appliance-depot_api.load', name=appliance.name ) }}">
                    <button class="needs-unloading btn btn-outline-primary p-0 w-100 h-100" disabled="disabled"
                            type="submit" value="{{ _('Needs unloading') }}">{{ _('Needs unloading') }}</button>
                </form>
            </div>
        {%- endif %}
    </div>
    {%- if debug %}{{ appliance.to_dict() }}{% endif %}
</div>
<style>
    .running-state .icon {
        height: 50%;
        mix-blend-mode: multiply;
    }
</style>
{% block additional_scripts %}
    <script language="JavaScript" src="{{ url_for('static', filename='javascript/d3.v7.min.js') }}"
            type="text/javascript"></script>
    <script language="JavaScript" src="{{ url_for('static', filename='javascript/power-consumption-diagram.js') }}"
            type="text/javascript"></script>
{% endblock %}
