<p>
    <img class="icon attribution-icon" src="{{url_for('static', filename='img/flaticon/dishwasher.png')}}"/>
    {{_('Icons made by %(author)s from %(url)s', author='Eucalyp', url='www.flaticon.com') }}
</p>
<p>
    <img class="icon attribution-icon" src="{{url_for('static', filename='img/flaticon/github.png')}}"/>
    {{_('Icons made by %(author)s from %(url)s', author='Pixel perfect', url='www.flaticon.com') }}
</p>
<p>
    <img class="icon attribution-icon" src="{{url_for('static', filename='img/flaticon/washing_machine.png')}}"/> <img
        class="icon attribution-icon" src="{{url_for('static', filename='img/flaticon/dryer.png')}}"/>
    {{_('Icons made by %(author)s from %(url)s', author='Mihimihi', url='www.flaticon.com') }}
</p>
<p>
    <img class="icon attribution-icon" src="{{url_for('static', filename='img/flaticon/calendar.png')}}"/>
    <img class="icon attribution-icon" src="{{url_for('static', filename='img/flaticon/controls_back.png')}}"/>
    <img class="icon attribution-icon" src="{{url_for('static', filename='img/flaticon/controls_control.png')}}"/>
    <img class="icon attribution-icon" src="{{url_for('static', filename='img/flaticon/controls_edit.png')}}"/>
    <img class="icon attribution-icon" src="{{url_for('static', filename='img/flaticon/unknown_box.png')}}"/>
    {{_('Icons made by %(author)s from %(url)s', author='Freepik', url='www.flaticon.com') }}
</p>