<div class="card-body">
    <div class="card-text">
        <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg">
            <circle r="8" cx="10" cy="10" stroke-width="2" fill="#{{ calendar.color }}" stroke="black"></circle>
        </svg>
        {{ _('Calendar') }}: {{ calendar.name }}</div>
    {% if calendar.url %}
        <div class="card-text text-truncate"><small class="text-body-secondary">{{ _('URL:') }}
            {{ calendar.url|replace('http://','')|replace('https://','')|truncate(calendar.url|length - 28) }}</small>
        </div>
    {% endif %}
    <div class="card-text">{{ ngettext('%(num)d Appointment', '%(num)d Appointments', calendar.appointments|length) }}
    </div>
</div>