{%- if power_consumption != None %}
    {%- set text = "%sW" % power_consumption %}
    {%- set tooltip = _('Power consumption') %}
{%- else %}
    {%- set text = _('?W') %}
    {%- set tooltip = _('Power consumption unknown') %}
{%- endif %}
<lm-power-consumption data-name="{{ name }}" data-watt="{{ power_consumption }}"
                      data-power-state="{{ power_state }}" data-tooltip="{{ tooltip }}"
                      data-as-badge="{{ as_badge }}"
                      data-charging-icon-url="{{ url_for('static', filename='img/flaticon/charging.png') }}"></lm-power-consumption>
