<div class="card room">
    <div class="card-header">
        <h4 class="card-title mb-0 d-flex flex-nowrap">
            <a class="name me-1 overflow-hidden text-truncate" href="{{ url_for('room', name=room.name) }}"
               data-bs-title="{{ room.name }}" data-bs-toggle="tooltip">{{ room.name }}</a>
            {%- with online_status=room.online_status(), time_delta=room.last_seen_time_delta() %}
                <div class="ms-auto">{%- include "snippets/online_status_icon.html" %}</div>
            {%- endwith %}
        </h4>
    </div>
    <div class="row g-1">
        <div class="col-4">
            <div class="w-100 position-relative" style="aspect-ratio: 1">
                <div class="temperature room-climate diagram position-absolute top-0 start-0 w-100 h-100 z-2"
                     data-entity-name="{{ room.name }}" data-fullscreen="true"
                     data-x-axis-label="{{ _('Temperature [°C]') }}" data-attribute="temperature"></div>
                <div class="position-absolute top-0 start-0 w-100 h-100 z-1 fs-4">
                    {%- with temperature=room.temperature,rating=room.rate_temperature() %}
                        {%- include "snippets/temperature.html" %}
                    {%- endwith %}
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="w-100 position-relative" style="aspect-ratio: 1">
                <div class="humidity room-climate diagram position-absolute top-0 start-0 w-100 h-100 z-2"
                     data-x-axis-label="{{ _('Humidity [%%]') }}" data-attribute="humidity"
                     data-entity-name="{{ room.name }}" data-fullscreen="true"></div>
                    <lm-room-humidity-state  class="position-absolute top-0 start-0 w-100 h-100 z-1 fs-4"
                                             data-room-json='{{ room.to_dict()|tojson }}'
                                            data-unknown-label="{{ _('Humidity unknown') }}"
                                            data-unknown-icon-url="{{ url_for('static', filename='img/flaticon/humidity.png') }}"
                                            data-default-label="{{ _('Humidity') }}"
                                            data-default-icon-url="{{ url_for('static', filename='img/flaticon/humidity.png') }}"
                                            data-optimal-label="{{ _('Humidity optimal') }}"
                                            data-optimal-icon-url="{{ url_for('static', filename='img/flaticon/humidity.png') }}"
                                            data-dry-label="{{ _('Humidity slightly out of range') }}"
                                            data-dry-icon-url="{{ url_for('static', filename='img/flaticon/dryness.gif') }}"
                                            data-critical-dry-label="{{ _('Humidity out of range') }}"
                                            data-critical-dry-icon-url="{{ url_for('static', filename='img/flaticon/dryness.gif') }}"
                                            data-wet-label="{{ _('Humidity slightly out of range') }}"
                                            data-wet-icon-url="{{ url_for('static', filename='img/flaticon/humidity.gif') }}"
                                            data-critical-wet-label="{{ _('Humidity out of range') }}"
                                            data-critical-wet-icon-url="{{ url_for('static', filename='img/flaticon/humidity.gif') }}"
                    ></lm-room-humidity-state>
            </div>
        </div>
    </div>
    {%- if debug %}{{ room.to_dict() }}{% endif %}
</div>
{% block additional_scripts %}
    <script language="JavaScript" src="{{ url_for('static', filename='javascript/d3.v7.min.js') }}"
            type="text/javascript"></script>
    <script language="JavaScript" src="{{ url_for('static', filename='javascript/room-climate-diagrams.js') }}"
            type="module"></script>
{% endblock %}
