<div class="card room">
    <div class="card-header">
        <h4 class="card-title mb-0">
            <a class="name" href="{{url_for('room', name=room.name)}}">{{ room.name }}</a>
        </h4>
    </div>
    <div class="card-body">
        {% with temperature=room.temperature,rating=room.rate_temperature() %}
        {% include "snippets/temperature_badge.html" %}
        {% endwith %}

        {% with humidity=room.humidity,rating=room.rate_humidity() %}
        {% include "snippets/humidity_badge.html" %}
        {% endwith %}

        {% with online_status=room.online_status(), time_delta=room.last_seen_time_delta() %}
        {% include "snippets/online_status_badge.html" %}
        {% endwith %}
    </div>
    {% if debug %}{{room.to_dict()}}{% endif %}
</div>
