{% if temperature != None %}
    {%- if rating=='unknown' %}
        {%- set text = temperature %}
        {%- set tooltip = _('Temperature') %}
        {%- set color_type = 'secondary' %}
        {%- set icon='img/flaticon/thermometer.png' %}
    {%- elif rating=='optimal' %}
        {%- set text = temperature %}
        {%- set tooltip = _('Temperature optimal') %}
        {%- set color_type = 'success' %}
        {%- set icon='img/flaticon/thermometer.png' %}
    {%- elif rating=='hot' %}
        {%- set text = temperature %}
        {%- set tooltip = _('Temperature slightly out of range') %}
        {%- set color_type = 'warning' %}
        {%- set icon='img/flaticon/temperature_high.png' %}
    {%- elif rating=='critical_hot' %}
        {%- set text = temperature %}
        {%- set tooltip = _('Temperature out of range') %}
        {%- set color_type = 'danger' %}
        {%- set icon='img/flaticon/temperature_high.png' %}
    {%- elif rating=='cold' %}
        {%- set text = temperature %}
        {%- set tooltip = _('Temperature slightly out of range') %}
        {%- set color_type = 'warning' %}
        {%- set icon='img/flaticon/temperature_cold.png' %}
    {%- else %}
        {%- set text = temperature %}
        {%- set tooltip = _('Temperature out of range') %}
        {%- set color_type = 'danger' %}
        {%- set icon='img/flaticon/temperature_cold.png' %}
    {%- endif %}
{%- else %}
    {%- set text = _('?°C') %}
    {%- set tooltip = _('Temperature unknown') %}
    {%- set color_type = 'secondary' %}
    {%- set icon='img/flaticon/thermometer.png' %}
{%- endif %}
{%- if as_badge==True %}
    <span class="badge temperature text-bg-light border border-{{ color_type }}" data-bs-title="{{ tooltip }}"
          data-bs-toggle="tooltip">{{ text }}</span>
{%- else %}
    <div class="temperature h-100 w-100 text-center align-content-center text-bg-{{ color_type }} bg-{{ color_type }}"
         data-bs-title="{{ tooltip }}" data-bs-toggle="tooltip">
        <img class="icon" src="{{ url_for('static', filename=icon) }}" alt="{{ text }}"/>
        <div>{{ text }}</div>
    </div>
{%- endif %}
<span class="visually-hidden temperature-rating temperature-rating-{{ rating.value }}"
      role="status">{{ _(rating) }}</span>
<style>
    .temperature .icon {
        height: 50%;
        mix-blend-mode: multiply;
    }

    .temperature:has(.temperature-rating-unknown) .icon {
        filter: invert();
        mix-blend-mode: unset;
    }
</style>