{% extends "base.html" %}
{% block title %}<title>{{ _('Appliance %(name)s', name=appliance.name) }}</title>{% endblock %}
{% block breadcrumb %}
    <aside class="container">
        <div class="row mt-4">
            <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '〉';">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ url_for('ve_list') }}">{{ _('Virtual Entities') }}</a></li>
                    <li class="breadcrumb-item">{{ _('Appliance depot') }}</li>
                    <li aria-current="page" class="breadcrumb-item active">{{ appliance.name }}</li>
                </ol>
            </nav>
        </div>
    </aside>
{% endblock %}
{% block content %}
    <main class="container appliance">
        <div class="row mt-4">
            <div class="col-2 col-sm-1 p-0">
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <div style="width: 4rem; max-width: 30vw">
                            {% with type=appliance.thing_type %}
                                {% include "snippets/appliance_icon.html" %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-10 col-sm-11">
                <div class="row">
                    <h1 class="col-10 col-sm-auto mb-0">
                        <span class="name">{{ appliance.name }}</span>
                    </h1>
                    <div class="col-2 col-sm-auto p-0" style="max-width: 40px">
                        <a href="{{ url_for('appliance_configuration', name=appliance.name) }}"
                           data-bs-title="{{ _('Edit %(appliance_name)s', appliance_name=appliance.name) }}"
                           data-bs-toggle="tooltip">
                            <button type="button" class="appliance-configuration btn btn-light p-1">
                                <img alt="{{ _('Configure %(appliance_name)s', appliance_name=appliance.name) }}"
                                     class="icon icon-primary"
                                     src="{{ url_for('static', filename='img/flaticon/controls_control.png') }}"/>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col type">
                        {% if appliance.thing_type=='dishwasher' %}
                            {{ _('Dishwasher') }}
                        {% elif appliance.thing_type=='dryer' %}
                            {{ _('Dryer') }}
                        {% elif appliance.thing_type=='washing_machine' %}
                            {{ _('Washing machine') }}
                        {% else %}
                            {{ _('Unknown thing') }}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% with time_delta=appliance.last_seen_time_delta() %}
                            {% include "snippets/last_seen_at_subtitle.html" %}
                        {% endwith %}
                        {% with online_status=appliance.online_status(),style='font-size: 0.9em' %}
                            <span class="ml-2">
                        {% include "snippets/online_status_icon.html" %}
                        </span>
                        {% endwith %}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% if appliance.running_state=='running' %}
                            <span data-bs-title="{{ appliance.started_run_at|datetimeformat('short') }}"
                                  data-bs-toggle="tooltip">{{ _('Running since %(xMinutes)s', xMinutes=appliance.running_for_time_period()|timedeltaformat()) }}</span>
                        {% elif appliance.needs_unloading %}
                            {{ _('Needs to be unloaded') }}
                        {% else %}
                            {{ _('Currently idling') }}
                        {% endif %}
                    </div>
                </div>
                {% if appliance.finished_last_run_at %}
                    <div class="row">
                        <div class="col">
                            <span data-bs-title="{{ appliance.finished_last_run_at|datetimeformat('short') }}"
                                  data-bs-toggle="tooltip">{{ _('Finished last run %(xMinutesAgo)s', xMinutesAgo=appliance.finished_last_run_before_time_period()|timedeltaformat(add_direction=True)) }}</span>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="d-flex align-items-center mb-2">
                    <h3 class="mb-0">{{ _('Power consumption (Watt)') }}</h3>
                    <div class="ms-2">
                        {%- with power_consumption=appliance.watt,as_badge=True %}
                            {%- include "snippets/power_consumption.html" %}
                        {%- endwith %}
                    </div>
                </div>
                <div class="power-consumption diagram" data-thing-name="{{ appliance.name }}"
                     data-x-axis-label="{{ _('Watt') }}"></div>
            </div>
        </div>
        {% if debug %}{{ appliance.to_dict() }}{% endif %}
    </main>
    <style>
        .appliance .icon {
            height: auto;
            width: 100%;
        }
    </style>
{% endblock %}
{% block additional_scripts %}
    <script language="JavaScript" src="{{ url_for('static', filename='javascript/d3.v7.min.js') }}"
            type="text/javascript"></script>
    <script language="JavaScript" src="{{ url_for('static', filename='javascript/power-consumption-diagram.js') }}"
            type="text/javascript"></script>
{% endblock %}
