{% extends "base.html" %}
{% block title %}<title>{{ _('Person %(name)s', name=person.name) }}</title>{% endblock %}
{% block breadcrumb %}
    <aside class="container">
        <div class="row mt-4">
            <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '〉';">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ url_for('ve_list') }}">{{ _('Virtual Entities') }}</a></li>
                    <li class="breadcrumb-item">{{ _('Register of persons') }}</li>
                    <li aria-current="page" class="breadcrumb-item active">{{ person.name }}</li>
                </ol>
            </nav>
        </div>
    </aside>
{% endblock %}
{% block content %}
    <main class="container person g-2">
        <div class="row mt-4">
            <div class="col-10 col-sm-11">
                <div class="row">
                    <h1 class="col-10 col-sm-auto mb-0">
                        <span class="name">{{ person.name }}</span>
                    </h1>
                    <div class="col-2 col-sm-auto p-0" style="max-width: 40px">
                        <a href="{{ url_for('person', name=person.name) }}" class="back"
                           data-bs-title="{{ _('Back to details') }}"
                           data-bs-toggle="tooltip">
                            <button type="button" class="btn btn-light p-1">
                                <img alt="{{ _('Back to details') }}"
                                     class="icon back-to-person icon-primary"
                                     src="{{ url_for('static', filename='img/flaticon/controls_back.png') }}"/>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-4">
            {% if debug %}{{ person.to_dict() }}{% endif %}
        </div>
    </main>
    <style>
        .person .icon {
            height: auto;
            width: 100%;
        }
    </style>
{% endblock %}
