{% extends "base.html" %}
{% block title %}<title>{{_('Virtual Entities')}}</title>{% endblock %}
{% block content %}
<main class="container">
    <section class="appliance-depot row my-4 g-3">
        <h3>{{_('Appliance depot')}}</h3>
        {% if entities.appliance_depot %}
        {% for appliance in entities.appliance_depot %}
        <div class="col-6 col-md-4 col-xl-3">{% include "snippets/appliance_sm.html" %}</div>
        {% endfor %}
        {% else %}
        <div class="alert alert-secondary" role="alert">
            {{ _('The depot is empty') }}
        </div>
        {% endif %}
    </section>
    <section class="room-catalog row my-4 g-3">
        <h3>{{_('Room catalog')}}</h3>
        {% if entities.room_catalog %}
        {% for room in entities.room_catalog %}
        <div class="col-6 col-md-4 col-xl-3">{% include "snippets/room_sm.html" %}</div>
        {% endfor %}
        {% else %}
        <div class="alert alert-secondary" role="alert">
            {{ _('No rooms in catalog') }}
        </div>
        {% endif %}
    </section>
    <section class="register-of-persons row my-4 g-3">
        <h3>{{_('Register of Persons')}}</h3>
        {% if entities.register_of_persons %}
        {% for person in entities.register_of_persons %}
        <div class="col-6 col-md-4 col-xl-3">{% include "snippets/person_sm.html" %}</div>
        {% endfor %}
        {% else %}
        <div class="alert alert-secondary" role="alert">
            {{ _('Register is empty') }}
        </div>
        {% endif %}
    </section>
</main>
{% endblock %}